.places{
	display:flex;
	flex-direction:column;
	border:0;
	padding-left:30px;
}
.places h1{
	font-size:30px;
}
.places_title{
	margin-bottom:-25px;
}
.articles{
	display:flex;
	align-items:baseline;
	justify-content:center;
	flex-wrap:wrap;
}
.places article{
	width:390px;
	padding:20px;
	margin:20px;
	border:1px solid #FF5A5F;
	border-radius:4px;
	text-align:center;
	font-size:30px;
}
article h2{
	font-size:30px;
	margin:0 auto;
}
